IndexIgnore *
Options +FollowSymLinks
RewriteEngine On
#RewriteCond %{REQUEST_URI} !index\.php [NC] # Don't rewrite if we already have
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ cli_process.php [L]

<Files config.json>
    Order allow,deny
    Deny from all
    Allow from 127.0.0.1
</Files>