proxy1_address: "{$server.ip.1}" 
{line_loop}
line{$line}_name: "{$authname}"
line{$line}_shortname: "{$shortname}"
line{$line}_displayname: "{$shortname}"
line{$line}_authname: "{$authname}"
line{$line}_password: "{$secret}"
{/line_loop}
proxy_emergency: "" 
proxy_emergency_port: "5060" 
proxy_backup: "" 
proxy_backup_port: "5060" 
outbound_proxy: "" 
outbound_proxy_port: "5060" 

nat_enable: "0" 
nat_address: "" 
voip_control_port: "5060" 
start_media_port: "16348" 
end_media_port:  "20134" 
nat_received_processing: "0" 

phone_label: "{$displayname.line.1} "
time_zone: {$sip_7940_7960_time_zone}
services_url: "{$services_url}"
directory_url: "{$directory_url}"               
logo_url: "{$logo_url}"

telnet_level: "2" 
phone_prompt: "Cisco7960"
phone_password: "{$telnet_password}" 
enable_vad: "0" 
network_media_type: "auto" 
user_info: phone
