#!version:1.0.0.1

##File header "#!version:1.0.0.1" can not be edited or deleted, and must be placed in the first line.##
{line_loop}
#######################################################################################
##                             Account {$line} Settings {$line_m1}                    ##                                       
#######################################################################################

account.{$line_m1}.enable = {$line_active}
account.{$line_m1}.label = {$username}
account.{$line_m1}.display_name = {$displayname}
account.{$line_m1}.auth_name = {$username}
account.{$line_m1}.password =  {$secret} 
account.{$line_m1}.user_name =  {$username}
account.{$line_m1}.sip_server_host = {$server_host}
account.{$line_m1}.sip_server_port = {$server_port}
account.{$line_m1}.outbound_proxy_enable = 0
account.{$line_m1}.outbound_host = {$outbound_proxy_host} 
account.{$line_m1}.outbound_port = {$outbound_proxy_port} 
account.{$line_m1}.sip_listen_port = 5062
account.{$line_m1}.transport = 0
voice_mail.number.{$line_m1} = {$voicemail_number}
account.{$line_m1}.sip_server.1.expires = 300
account.{$line_m1}.100rel_enable = 0
account.{$line_m1}.subscribe_mwi = {$subscribe_mwi|1}
account.{$line_m1}.cid_source = 1
account.{$line_m1}.enable_user_equal_phone = 0
account.{$line_m1}.srtp_encryption = 
account.{$line_m1}.ptime = 20
account.{$line_m1}.group_pickup_code = *8
account.{$line_m1}.direct_pickup_code = {$pickup_value|**}
account.{$line_m1}.auto_answer = {$auto_answer|0}
account.{$line_m1}.missed_calllog = {$missed_call_log|0}
account.{$line_m1}.subscribe_mwi_to_vm = {$subscribe_mwi|1}
account.{$line_m1}.unregister_on_reboot = 1
account.{$line_m1}.nat.nat_traversal = {$nat_trans}
account.{$line_m1}.nat.stun_server = {$stun_server}
account.{$line_m1}.nat.stun_port = {$stun_server_port}
account.{$line_m1}.nat.udp_update_enable = {$udp_keepalive_enable}
account.{$line_m1}.nat.udp_update_time = {$udp_keepalive_seconds}
account.{$line_m1}.nat.rport = {$rport_enable}
account.{$line_m1}.advanced.timer_t1 = 0.5
account.{$line_m1}.advanced.timer_t2 = 4
account.{$line_m1}.advanced.timer_t4 = 5
account.{$line_m1}.alert_info_url_enable = 1
account.{$line_m1}.ringtone.ring_type = {$default_ringtone}

account.{$line_m1}.codec.1.enable = 1
account.{$line_m1}.codec.1.payload_type = PCMU
account.{$line_m1}.codec.1.priority = 3
account.{$line_m1}.codec.1.rtpmap = 0

account.{$line_m1}.codec.2.enable = 1
account.{$line_m1}.codec.2.payload_type = PCMA
account.{$line_m1}.codec.2.priority = 2 
account.{$line_m1}.codec.2.rtpmap = 8

account.{$line_m1}.codec.3.enable = 0 
account.{$line_m1}.codec.3.payload_type = G723_53
account.{$line_m1}.codec.3.priority =0
account.{$line_m1}.codec.3.rtpmap = 4

account.{$line_m1}.codec.4.enable = 0
account.{$line_m1}.codec.4.payload_type = G723_63
account.{$line_m1}.codec.4.priority = 0
account.{$line_m1}.codec.4.rtpmap = 4

account.{$line_m1}.codec.5.enable = 0
account.{$line_m1}.codec.5.payload_type = G729
account.{$line_m1}.codec.5.priority = 0
account.{$line_m1}.codec.5.rtpmap = 18

account.{$line_m1}.codec.6.enable = 1
account.{$line_m1}.codec.6.payload_type = G722
account.{$line_m1}.codec.6.priority = 1
account.{$line_m1}.codec.6.rtpmap = 9

account.{$line_m1}.codec.7.enable = 0 
account.{$line_m1}.codec.7.payload_type = G726-32
account.{$line_m1}.codec.7.priority = 0
account.{$line_m1}.codec.7.rtpmap = 2

account.{$line_m1}.codec.8.enable = 0 
account.{$line_m1}.codec.8.payload_type = iLBC_13_3
account.{$line_m1}.codec.8.priority = 0
account.{$line_m1}.codec.8.rtpmap = 97

account.{$line_m1}.codec.9.enable = 0 
account.{$line_m1}.codec.9.payload_type = iLBC_15_2
account.{$line_m1}.codec.9.priority = 0
account.{$line_m1}.codec.9.rtpmap = 97

#######################################################################################
##         	                   Call Forward                                          ##               
#######################################################################################
#Enable or disable the always forward, 0-Disabled(default), 1-Enabled;
account.{$line_m1}.always_fwd.enable = 

#Configure the target phonenumber that the phone will forward the call to;
account.{$line_m1}.always_fwd.target = 

#Configure the on/off code for always forward;
account.{$line_m1}.always_fwd.on_code = *72
account.{$line_m1}.always_fwd.off_code = *73

#Enable or disable the busy forward, 0-Disabled(default), 1-Enabled;
account.{$line_m1}.busy_fwd.enable =         
account.{$line_m1}.busy_fwd.target = 

account.{$line_m1}.busy_fwd.on_code = *90
account.{$line_m1}.busy_fwd.off_code = *91

#Enable or disable the no answer forward, 0-Disabled(default), 1-Enabled; 
#Configure the waiting ring times before forwarding, ranges from 0 to 20 (by default);
account.{$line_m1}.timeout_fwd.enable = 
account.{$line_m1}.timeout_fwd.target =
account.{$line_m1}.timeout_fwd.timeout = 25

account.{$line_m1}.timeout_fwd.on_code = *52
account.{$line_m1}.timeout_fwd.off_code = *53 

#######################################################################################
##                          DND                                                      ##                                       
#######################################################################################

#Configure the DND key mode; 0-Phone mode (default), 1-Custom mode.
features.dnd_mode = 

#Enable or disable the DND feautre for account1; 0-Disabled (default), 1-Enabled;
account.{$line_m1}.dnd.enable =  

#Configure the DND on code and off code for account1.
account.{$line_m1}.dnd.on_code = *78
account.{$line_m1}.dnd.off_code = *79

#######################################################################################
voice_mail.number.{$line_m1} = *97
#######################################################################################
##                                   Number Assignment                               ## 
#######################################################################################
#The line accept to incoming(1,2,3,4,5);X ranges from 1 to 5
#handset.X.incoming_lines = 1,2,3,4

handset.{$line_m1}.incoming_lines = {$line_m1}

#The line accept to call out(1,2,3,4,5)
#handset.X.dial_out_lines = 1,2,5
#handset.X.dial_out_default_line = 1

handset.{$line_m1}.dial_out_lines = {$line_m1}
handset.{$line_m1}.dial_out_default_line = {$line_m1}

handset.{$line_m1}.name = {$displayname}

{/line_loop}