#sip_larryw.cfg

# Codec preference order.
# can be G.711-ulaw, g.711u, G.711U, g711u, G.711U, etc.
# if g711u is omitted it will be added to end of list.
# if g711a is omitted it will be added to end of list after u.

CODECS = g711a, g711u

PROXY1_ADDR = {$server.ip.1}:{$server.port.1}
PROXY1_TYPE = ASTERISK
#ProxyDomain can be omitted if server does not service the domain.
#PROXY1_DOMAIN = slnkengr.com
#PROXY1_DOMAIN = 10.0.0.138
#PROXY1_DOMAIN = axlx.engr.local
#PROXY1_MAIL_SUBSCR is who we should subscribe to for mail center notifications
#PROXY1_MAIL_SUBSCR = sip:3001@vmail.asterisk.com
#PROXY1_MAIL_NOTIFY is from whom we might get unsolicited mail center notifications
#PROXY1_MAIL_NOTIFY = sip:asterisk@10.0.0.138
#PROXY1_MAIL_ACCESS = *79
PROXY1_KEYPRESS_2833 = disable
PROXY1_KEYPRESS_INFO = enable
#PROXY1_HOLD_IP0 = disable

# Stun servers
# STUN1         = stun.fwdnet.net:3478    -- not yet operational

# DNS servers

# Authentication credentials
{line_loop}
AUTH = {$ext}; {$secret}
{/line_loop}

# Line definitions
{line_loop}
LINE{$line}         = {$ext}
LINE{$line}_PROXY   = 1
LINE{$line}_CALLID  = {$displayname}
{/line_loop}